#navbar ul{
	list-style-type: none;
	width:60%;
	padding-left:0;
	margin:5px auto;
	text-align:center;
}
#navbar ul li{
	display:inline;
	padding-right:10px;
	font-weight:bold;
	vertical-align: middle;
}
#navbar ul li a:link{
	text-decoration: none;
}
#navbar ul li a:visited{
	text-decoration: none;
}